<!-- Documents about icons are here: http://fontawesome.io/icons/ -->
<div class="ads">
  <div class="ads-image">    
    <img src="https://hmkcode.com/images/ads/hash-app.png" width="150px" height="150px"/>
  </div>
  <div class="ads-content">
        <a href="https://play.google.com/store/apps/details?id=com.hmkcode.bookmarkapp">Hash | Links Bookmarking</a>
        <p> 
          Hash is a bookmark manager that uses tags to organize your links!

          Keep all your favorite links you come across while browsing in one place.                                
      </p>    
  </div>
</div>
    