/* Style for the custom component */
/* my-custom-element {
    display: block;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
} */

div{
    color: #333;
}